*{
  margin:0;
  padding:0;
  box-sizing:border-box;
}

.login-page{
  min-height:100vh;
  display:flex;
  font-family:Arial, Helvetica, sans-serif;
  background:#f8fafc;
}

.login-left{
  width:45%;
  display:flex;
  flex-direction:column;
  justify-content:center;
  align-items:center;
  padding:60px 40px;
  background:#ffffff;
  border-right:1px solid #e5e7eb;
}

.logo-img{
  width:99px;
  height:auto;
  margin-bottom:18px;
}

.login-left h1{
  color:#2563eb;
  font-size:52px;
  font-weight:700;
  margin-bottom:20px;
}

.tagline{
  text-align:center;
  color:#404853;
  line-height:1.7;
  font-size:18px;
}

.features{
  margin-top:50px;
}

.features p{
  margin:16px 0;
  color:#64748b;
  font-size:17px;
}

.login-right{
  width:55%;
  display:flex;
  flex-direction:column;
  justify-content:center;
  align-items:center;
  background:#f3f7fc;
}

.login-right h2{
  font-size:54px;
  font-weight:700;
  margin-bottom:12px;
  color:#111827;
}

.sub{
  color:#6b7280;
  margin-bottom:35px;
  font-size:16px;
}

.google-btn{
  width:280px;
  height:50px;

  background:#ffffff;
  color:#333;

  border:1px solid #dbe1e8;
  border-radius:10px;

  display:flex;
  align-items:center;
  justify-content:center;
  gap:10px;

  font-size:15px;
  font-weight:600;
  cursor:pointer;

  box-shadow:0 2px 8px rgba(0,0,0,.04);
  transition:.3s;
}

.google-btn:hover{
  background:#f8fafc;
  transform:translateY(-1px);
}

.email-note{
  margin-top:28px;
  text-align:center;
  color:#6b7280;
  line-height:1.6;
}

.copyright{
  margin-top:60px;
  color:#9ca3af;
  font-size:14px;
}

@media(max-width:900px){

  .login-page{
    flex-direction:column;
  }

  .login-left,
  .login-right{
    width:100%;
  }

  .login-left{
    padding:40px 25px;
  }

  .login-right{
    padding:50px 20px;
  }

  .login-right h2{
    font-size:38px;
  }
}