.post-page {
  display: flex;
  min-height: 100vh;
  background: #f5f7fb;
}

.post-content {
  flex: 1;
  padding: 30px;
  margin-left: 240px;
}

.page-title {
  margin: 20px 0;
  color: #222;
}

.steps {
  display: flex;
  align-items: center;
  margin: 30px 0;
}

.step {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.step-circle {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background: #d9d9d9;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
}

.step.active .step-circle {
  background: #2563eb;
}

.step p {
  margin-top: 8px;
  font-size: 14px;
  color: #555;
}

.step-line {
  flex: 1;
  height: 3px;
  background: #d9d9d9;
  margin: 0 15px;
  margin-bottom: 25px;
}
.form-container{
    display: grid;
    grid-template-columns: 260px 1fr;
    gap: 30px;
}

.image-section h3 {
  margin-bottom: 15px;
}

.upload-box{
    width: 100%;
    height: 260px;
    border: 2px dashed #cbd5e1;
    border-radius: 12px;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.upload-box:hover {
  border-color: #2563eb;
  background: #f8fbff;
}

.upload-icon {
  font-size: 65px;
  color: #2563eb;
  margin-bottom: 15px;
}

.upload-box h4 {
  margin-bottom: 8px;
}

.upload-box p {
  color: gray;
}

.upload-box span {
  margin-top: 10px;
  font-size: 13px;
  color: #888;
}

.details-section {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.row {
  display: flex;
  gap: 20px;
}

.input-box {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.input-box label {
  margin-bottom: 8px;
  font-weight: 500;
}

.input-box input,
.input-box select,
.input-box textarea {
  padding: 12px;
  border: 1px solid #d8d8d8;
  border-radius: 8px;
  font-size: 15px;
  outline: none;
}

.input-box input:focus,
.input-box select:focus,
.input-box textarea:focus {
  border-color: #2563eb;
}

textarea {
  resize: none;
}

.button-area {
  display: flex;
  justify-content: flex-end;
  margin-top: 25px;
}

.next-btn {
  background: #16A34A;
  color: white;
  border: none;
  padding: 12px 28px;
  border-radius: 8px;

  display: flex;
  align-items: center;
  gap: 8px;

  cursor: pointer;
  transition: .3s;
}

.next-btn:hover {
  background: #15803D;
}

@media (max-width: 900px) {

  .form-container {
    grid-template-columns: 1fr;
  }

  .row {
    flex-direction: column;
  }

  .steps {
    overflow-x: auto;
  }

}