.logout-page{
    display:flex;
    background:#f4f7fc;
    min-height:100vh;
}

.logout-content{
    flex:1;
    margin-left:250px;
    padding:30px;
}

.logout-container{
    display:flex;
    justify-content:center;
    align-items:center;
    height:calc(100vh - 140px);
}
.logout-card{
    width:500px;
    background:#fff;
    border-radius:18px;
    padding:45px;
    text-align:center;
    box-shadow:0 10px 25px rgba(0,0,0,.08);
}

.logout-icon{
    font-size:70px;
    color:#2563eb;
    margin-bottom:18px;
}

.logout-card h2{
    font-size:34px;
    color:#1f2937;
    margin-bottom:15px;
}

.logout-card p{
    color:#6b7280;
    font-size:18px;
    line-height:1.6;
    margin-bottom:35px;
}

.logout-buttons{
    display:flex;
    justify-content:center;
    gap:20px;
}

.cancel-btn{
    padding:12px 34px;
    background:#fff;
    border:2px solid #d1d5db;
    border-radius:10px;
    cursor:pointer;
    font-size:16px;
    font-weight:600;
    transition:.3s;
}

.cancel-btn:hover{
    background:#f3f4f6;
}

.logout-btn{
    padding:12px 34px;
    background:#2563eb;
    color:#fff;
    border:none;
    border-radius:10px;
    cursor:pointer;
    font-size:16px;
    font-weight:600;
    transition:.3s;
}

.logout-btn:hover{
    background:#1d4ed8;
}